<h2>{{id ? "Edit" : "Create"}} Organization</h2>

<div class="container row"><label><input type="checkbox" [(ngModel)]="showModel" (click)="toggleShowModel()" /> Show Model</label></div>

<div *ngIf="organization">
    <h2>Details for {{organization.name | uppercase}}</h2>
    <form [formGroup]="organizationForm" *ngIf="organization" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" required>
            <div *ngIf="formErrors.name" class="alert alert-danger">
                {{ formErrors.name }}
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <input type="button" value="Cancel" class="btn btn-default" (click)="goBack()" />
        </div>
    </form>
    <pre class="visible" [class.hidden]="!showModel">{{organization | json}}</pre>
</div>