<h2>Organization List</h2>

<div class="container row"><label><input type="checkbox" [(ngModel)]="showModel" (click)="toggleShowModel()" /> Show Model</label></div>

<a [routerLink]="['/organization', 'new']" class="btn btn-success ng-scope"><span class="glyphicon glyphicon-plus"></span> Create New</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let org of organizations">
            <td>{{org.organizationId}}</td>
            <td><a [routerLink]="['/organization', org.organizationId]">{{org.name}}</a></td>
            <td>
                <button (click)="delete(org)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<pre class="visible" [class.hidden]="!showModel">{{organizations | json}}</pre>