<h1>Angular</h1>
<app-root>Loading...</app-root>
<script src="~/app/dist/inline.bundle.js"></script>
<script src="~/app/dist/polyfills.bundle.js"></script>
<script src="~/app/dist/styles.bundle.js"></script>
<script src="~/app/dist/vendor.bundle.js"></script>
<script src="~/app/dist/main.bundle.js"></script>
