<h1>About this Project</h1>
<p>This project is intended for .Net developers who are looking for some comparisons between technologies. Use it, learn it, and feel free to take what you have learned to new and exciting projects.</p>

<p class="alert alert-warning"><strong>Note:</strong> 'AngularJS' refers to Angular 1.x apps, whereas 'Angular' refers to Angular 2+ apps.</p>